
@{
    ViewData["Title"] = "Index";
}

<div class="cardsSide">
    <div class="cardsSide-card">
        <div class="card-image">
            <img src="~/img/nike-air-force-1.jpg" alt="">
        </div>
        <div class="priceAndTitleFlex">
            <div class="card-title">
                <span>
                    Nike Air Force 1
                </span>
            </div>
            <div class="card-price">
                $175
            </div>
        </div>
    </div>
</div>

